<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
    <%- include('Common/header'); %>
    <!--  "-" is put in above code to distinguish it as a html code with "-" it will be treated as Java Script code -->
    <h1>Login Page</h1>
</body>
</html>